body { 
    font-family: Arial, sans-serif; 
    margin: 30px; 
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.bloque { 
    border: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
    width: 600px; 
}

h3 { margin-top: 0; color: #333; }

label { 
    display: block; 
    font-weight: bold; 
    margin: 15px 0 5px 0; 
    border-bottom: 1px solid #eee;
}

input { 
    padding: 6px; 
    margin: 4px 2px; 
    border: 1px solid #999;
    border-radius: 3px;
}

.bloque input[type="text"] { width: 28%; }

.fila { margin-top: 10px; display: flex; gap: 5px; }
.fila input { flex: 1; width: auto; }
.description { flex: 3; } 

button { 
    margin-top: 10px; 
    padding: 5px 15px; 
    cursor: pointer; 
    background: #eee; 
    border: 1px solid #888; 
}
button:hover { background: #ddd; }

/* ESTILO PREVIEW */
.preview-factura { 
    background: white; 
    width: 800px; 
    padding: 50px; 
    border: 1px solid #e1e1e1; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-radius: 2px;
    position: relative;
    color: #333;
}

.qr-container { margin-bottom: 30px; }
.qr-left { text-align: left; }
.qr-center { text-align: center; }
.qr-right { text-align: right; }

.datos-cabecera {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.info-caja strong { color: #2c3e50; text-transform: uppercase; font-size: 0.9em; }

.tabla-preview { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

.tabla-preview th { 
    background-color: #34495e; 
    color: white; 
    padding: 12px;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.85em;
}

.tabla-preview td { 
    padding: 12px; 
    border-bottom: 1px solid #eee;
}

.tabla-preview tr:nth-child(even) { background-color: #fdfdfd; }

.totales-caja { 
    text-align: right; 
    margin-top: 30px; 
    padding-right: 10px;
}

.totales-caja p { margin: 5px 0; color: #131616; }
.totales-caja h2 { color: #eb0101; margin-top: 10px; font-size: 1.6em; }

.hash-discreto { 
    margin-top: 50px;
    padding-top: 10px;
    font-size: 0.75em; 
    color: #060707; 
    text-align: center;
}